nav.navbar.navbar-default(ng-controller='NavCtrl')
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#navbar")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(ui-sref='home') Pokemon Trader
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li: a(ui-sref='allCards'): i.glyphicon.glyphicon-th &nbsp;Browse Cards
        li: a(ui-sref='addCard'): i.glyphicon.glyphicon-plus &nbsp;Add Card
        li: a(ui-sref='profile.myCards'): i.glyphicon.glyphicon-th-large &nbsp;My Cards
        li: a(ui-sref='user.register'): i.glyphicon.glyphicon-plus-sign &nbsp;Register
        li: a(ui-sref='user.login'): i.glyphicon.glyphicon-user &nbsp;Login
