.col-xs-12.text-center
div
  h1.text-center Add a Card
  .row
    .col-sm-3 
      .card-holder 
        p.text-center
          i.glyphicon.glyphicon-plus 
          p.text-center Add a Card
    .col-sm-3
      .card-holder
    .col-sm-3
      .card-holder
    .col-sm-3
      .card-holder
