.col-xs-12.text-center
div
  h1.text-center My Cards
  .row
    .col-sm-3 
      .card-holder 
        p
          i.glyphicon.glyphicon-plus 
          | Add Card
    .col-sm-3
      .card-holder
    .col-sm-3
      .card-holder
    .col-sm-3
      .card-holder
